*{
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: left;
    font-size: 1em;
}

html {
    background-image: url(WallpapersLandingPagina_LoginPagina.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

.navbar{
    width: 100%;
    background-image: url(WallpaperSky.jpg);
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: 1px solid aliceblue;
    position: fixed;
    animation: fadeInAnimation ease 3s
   
}

.logo{
    margin-left: 5vw;
    width: 140px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
    background-position: center;
    animation: fadeInAnimation ease 3s
}

.content h1{
    width: 60%;
    font-size: 30px;
    margin-top: 100px;
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color:  white;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

button:hover span{
    width: 100%;
}
button:hover{
    border-color: gray;
}

.imageEntertainment{

    margin: 6vw;
    max-width: 240px;
    top: 20%;
    left: 25%;
    align-items: center;
    justify-content: space-between;
    animation: fadeInAnimation ease 3s
}

#YTlogo{
    border-radius: 25%;
    
}

#ww_c125aca3b3adb{
    transform: scale(1.5);
}

.imageEntertainment:hover{
    transform: scale(1.1);
}

@keyframes fadeInAnimation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.frontimage {
  max-width: 60%;
  position: fixed;
  top: 45%;
  left: 25%;
  opacity: 80%;
}
.fronttext{
    position: fixed;
    top: 25%;
    left: 25%;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 80px;
    width: 100%;
    background-position: center;
    align-items: center;
    text-align: center;
}

.waviy span {
  font-family: sans-serif;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.game{
  margin-bottom: 10%;
  margin-left: 25%;
}

#game{
  border: 5px solid aliceblue;
  left: 25%;
}

.loginfront{
  padding: 45px;
  text-align: center;
  background: url(WallpaperSky.jpg);
  color: white;
  font-size: 30px;
}

table, th, td{
  border: 1px solid;
    
}

td{
  text-align: center;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.weather{
  width: 100%;
  background-position: center;
  align-items: center;
  text-align: center;
  margin-top: 10vw;
}

@media only screen and (max-width: 600px){
    .waviy{
        font-size: 20px;
        margin-top: 45%;
    }
    .weather{
        margin-top: 65%;
        transform: scale(0.5);
    }
    .navbar ul li{
        list-style: none;
        display: flex;
        margin: 0 20px;
        position: relative;
    }
    .content{
        font-size: 0.7em;
    }
    .footer{
        font-size: 0.8em;
    }
}

/*Login*/

.login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(133, 188, 239, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(51, 120, 167);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ff0000;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #ff0000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c20c0c,
                0 0 25px #c21515,
                0 0 50px #8f1a1a,
                0 0 100px #6f1919;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, red);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, red);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, red);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, red);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
