<html>
    <head>
        <title>Corendon_Wifi_Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style.CSS') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='FaviconCorendon.png')}}">
    </head>

    <body>
        <div class="banner">
            <div class="loginfront"> 
                    <h1>Login Page Corendon</h1>
            </div>

            <div class="content">
                {% block content %}
	                {% with messages = get_flashed_messages() %}
		                {% if messages %}
			                {% for msg in messages %}
				                <p>{{msg}}</p>
			                {% endfor %}
		                {% endif %}
	                {% endwith %}
                {% endblock %}
                <h1>
                    Log in with your name and ticketnumber!
                </h1>

                
                    <form action="#" method="post">
                    <label for="lname"><b>Lastname</b></label>
                    <input type="achternaam" placeholder="Enter Lastname" name="achternaam" required>

                    <label for="tnmb"><b>ticketnumber</b></label>
                    <input type="ticketnummer" placeholder="Enter ticketnummer" name="ticketnummer" required>

                    <button type="submit">Login</button>
                    </form>
                
            </div>
        </div>
    </body>
</html>