<html>
    <head>
        <title>Corendon_Wifi_Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style.CSS') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='FaviconCorendon.png')}}">
    </head>

    <body>
        <div class="banner">
            <div class="loginfront"> 
                    <h1>Login Page Corendon</h1>
            </div>
                <div class="login-box">
                    <h2>Login</h2>
                    <form method="post">
                      <div class="user-box">
                        <input type="name" name="achternaam" required>
                        <label for="lname"><b>Lastname</b></label>
                      </div>
                      <div class="user-box">
                        <input type="password" name="ticketnummer" required>
                        <label for="tnmb"><b>Ticketnumber</b></label>
                      </div>
                      <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <button type="submit">Login</button>
                      </a>
                    </form>
                </div>
            </div>
        <div class="footer">
            <div class="content">
            {% block content %}
	                {% with messages = get_flashed_messages() %}
		                {% if messages %}
			                {% for msg in messages %}
				                <p>{{msg}}</p>
			                {% endfor %}
		                {% endif %}
	                {% endwith %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>